/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&family=Gentium+Book+Plus:ital,wght@1,700&family=Roboto:wght@300&display=swap');


/* Style for the Common section */
body{
   font-family: 'Finlandica', sans-serif;
   font-family: 'Gentium Book Plus', serif;
   font-family: 'Roboto', sans-serif;
   margin: 0px;
   padding: 0px;
   border: 0px;
}


h1{
   font-size: 2em;
   font-weight: bolder;
   color: white;
}


.common-width{
   margin: 80px;
   width: 1321px;
}



/* Style for header section */
#header-container{
   display: flex;
   justify-content:space-evenly;
   background-color: black;
   border-radius: 10px;
   padding: 10px;
}


.header-text{
   width: 50%;
}


.header-text p{
   color: white;   
}


.submit-btn{
   background-color: rgb(236, 70, 41);
   color: white;
   border: 0;
   font-size: 15px;
   padding: 10px 20px;
   margin: 10px;
   border-radius: 5px;
}



/* Style for first-body section */
#blog-all{
   display: flex;
}


.body-menu{
   background-color:black;
   width: 312px;
   height: 200px;
   padding: 30px;
   border-radius: 10px;
   margin: 20px 0px;
   display: flex;
   flex-direction: column; 
}


.submit-button{ 
   padding: 10px 20px;
   margin: 10px;
   border-radius: 5px;
   font-weight: 600;
}


.blog-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
  
}


.blog-details{
   margin: 20px 30px;
   border: 1px solid rgb(241, 232, 232);
   border-radius: 5px;
   padding: 7px; 
}


.fa-clock{
   margin: 0px 50px 0px 0px;  
}



/* Style for footer section */
footer{
   background-color: black;
}


.foo-title{
   padding: 20px;
   text-align: center;
}



hr{
   width: 70%;
   background-color: gray;
}


.foo-title{
   padding: 40px;
   text-align: center;
}


.foo-link{
   padding: 20px;
   text-align: center;
}


.foo-link a{
   text-decoration: none;
   color: white;
   padding: 20px;
   
}

















/* Style for header section */
/* Style for header section */
/* Style for header section */